/* reset all styles to best practices */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/* set the font size to 62.5% to make 1rem = 10px */
html {
    font-size: 62.5%;
}