/*import the font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* reset all styles to best practices */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/* set the font size to 62.5% to make 1rem = 10px */
/* this makes it easier to use rem units */
html {
    font-size: 62.5%;
    font-family: Roboto, Arial, Helvetica, sans-serif, serif;
}

/* header styles */
header {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

/* headers styles */
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

/* main content styles */
main {
    padding: 1rem;
    font-size: 1.5rem;
}

/* fixed footer centered styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}